# Create logs folder and configure EB to tail logs

commands:
  01_create_logs_dir:
    command: mkdir -p /var/app/current/src/logs
    ignoreErrors: true

files:
  "/opt/elasticbeanstalk/tasks/taillogs.d/app-logs.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      /var/app/current/src/logs/access.log
      /var/app/current/src/logs/error.log
