option_settings:
  aws:elasticbeanstalk:application:environment:
    NEXT_PUBLIC_API_URL: https://wealth-backend-env.eba-6sumcm74.us-east-1.elasticbeanstalk.com/api
  aws:elasticbeanstalk:container:nodejs:
    NodeCommand: "npm run start"
  aws:elasticbeanstalk:environment:proxy:
    ProxyServer: nginx